# Arquivos de Build e Cache do PlatformIO
.pio/
.pioenvs/
.vscode/.browse.c_cpp.db*
.vscode/ipch

# Arquivos de Configuração Local do VS Code (importante para não compartilhar caminhos de PC)
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json # Adicionando settings.json por segurança

# Arquivos de Firmware e Debug (que não devem ir para o Git)
*.bin
*.elf
*.hex
*.lst
*.map
*.su
*.s
*.o